    <div  class="row" ng-controller="PeppersCtrl">
        <div class="col-md-6 col-md-offset-3">
            <h2>My Pepper Archive</h2>
            <h3>The definitive pepper archive</h3>
            <div>
                <span><b>{{peppers.length}}</b> chili peppers in archive</span><br/>
                Search: <input ng-model="query">
                <table class="table">
                    <tr>
                        <th><a href="" ng-click="predicate = 'name'; sort = !sort">Name</a></th>
                        <th><a href="" ng-click="predicate = 'shu_min'; sort = !sort">SHU (min)</a></th>
                        <th><a href="" ng-click="predicate = 'shu_max'; sort = !sort">SHU (max)</a></th>
                        <th><a href="" ng-click="predicate = 'shu_min'; sort = !sort">Rating</a></th>
                    </tr>
                    <tr ng-repeat="p in peppers | orderBy:predicate:sort | filter:query">
                        <td>
                            <span><a href="#/show/{{p.name}}">{{p.name}}</a></span>
                        </td>
                        <td class="shu">
                            <span>{{p.shu_min | number:0}}</span>
                        </td>
                        <td class="shu">
                            <span>{{p.shu_max | number:0}}</span>
                        </td>
                        <td>
                            <span class="rating">{{p.shu_max | heatRating}}</span>
                        </td>
                    </tr>
                </table>
            </div>

            <form ng-submit="addPepper()">
                <input type="text" ng-model="pepperName"  size="30" placeholder="add new pepper here"/>
                <input class="btn-primary" type="submit" value="add"/>
            </form>
        </div>
    </div>
